*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


/* ----------------------------------------------------------------------------------------------------NAV BAR (HEADER) */
.header{
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #212529;
    color: white;
}
.nav-logo{
    background-color: #ff2424 ;
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
}
.nav-item{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    list-style: none;
    position: relative;
}
.nav-item a{
    text-decoration: none;
    color: inherit;
}
.nav-bar .nav-item:hover {
    color: #ff2424;
}
.nav-setting{
    display: flex;
    align-items: center;
}
.sub-menu{
    background-color: white;
    list-style: none;
    position: absolute;
    width: 150px;
    top: 70%;
    z-index: 1;
    visibility: hidden;
    opacity: 0%;
}
.nav-item:hover>.sub-menu{
    visibility: visible;
    transform: translateY(30%);
    opacity: 100%;
    transition: all 1s ease;
}
.sub-menu-item{
    padding: 10px;
    color: black;
}
