@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Montserrat&display=swap');
@font-face{
    src: url(fonts/Mont-Book.ttf);
    font-family: Mont;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
   
    transition: all 0.5s ease;
}
html {
    scrollbar-width: none;
   
}

.body{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 4px;
}
.full-page {
    width: 100%;
    height: 850px;
    background-color: white;
    margin: auto 0;
    padding-bottom: 4.93vw;
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
}


.hr-page{
    position: absolute;
    left: 12.5%;
    top: 0%;
    border: 1px solid #F2F2F2;
    width: 1px;
    height: 100%;

}
/* ------------------------------------------------------------------------PAGE-TEXT */
.page-text-container{
    padding-top: 5.625vw;
    grid-area: 1 / 2 / 1 / 6 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.place-localion{
    position: absolute;
    font-family: Gothic A1, sans-serif;
    font-size: 3em;
    z-index: 1;
    opacity: 0%;
}
.active-location{
    opacity: 100%;
}
.place-name{
    width:100%;
    z-index: 1;
}
.name{
    height: 153px;

}
.place-name-container{
    display: flex;
    position: absolute;
    width: 70%;
}
.place-name-text{
    width: 50%;
    font-family: Mont, sans-serif;
    font-size: 16em;
    font-weight: 500;
    margin-bottom: 30px;
    opacity: 0%;
}
.active-name{
    opacity: 100%;
}
.place-change-button{
    display: flex;
    align-items: center;
    width: 100%;
}
.place-change-button::before{
    width: 25%;
    content: '';
}
.horizontal-line{
    flex-grow: 1;
    border: 1px solid #F2F2F2;
    content:'';
    height: 0px;
}
.place-btn, .place-btnv{
    position: relative;
    color: #BDBDBD;
}
.btn{
    position: relative;
    background-color: transparent;
    border: none;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 3em;
    color: inherit;
}
.active-btn{
    color: #333333;
}
.next-under{
    position: absolute;
    left: 50%;
    transform: translateX(-200%); 
    bottom: 11px;
    width: 37px;
    height: 0px;
    border-top: 1px solid #333333;
    opacity: 0%;
}
.prev-under{
    position: absolute;
    left: 50%;
    transform: translateX(100%); 
    bottom: 11px;
    width: 37px;
    height: 0px;
    border-top: 1px solid black;
    opacity: 0%;
}
.active-btn:hover .next-under{
    opacity: 100%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
}
.active-btn:hover .prev-under{
    opacity: 100%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
}


.page-number{
    display: flex;
}
.page-item{
    width: 26.67px;
    height: 31px;
    color: #BDBDBD;
    font-size: 6em;
    margin-right: 23px;
}
.page{
    position: absolute;
    opacity: 0%;
}
.current-page{
    opacity: 100%;
}

.page-dash{
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
}
.page-dash hr{
    transform: rotate(45deg);
    border:1px solid #E0E0E0;
}

/* ------------------------------------------------------------------------PAGE-IMG  */
.page-image-container{
    grid-area: 1 / 6 / 1 / 11 ;
    overflow: hidden;
    background-color: white;
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.img-holder{
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0px;
    display: flex;
}
.place-img{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 100%;
}
.img-active{
    z-index: 1;
    left: 0;
}
.img-detail{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 71px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 2;
}
.img-detail-text{
    display: flex;
    align-items: center;
}
.img-text{
    color: #333333;
    font-family: 'Gothic A1', sans-serif;
    font-size: 3em;
    letter-spacing: 0.2em;
}
.img-arrow{
    margin-left: 17px;
}

.page-image-container:hover .place-img{
    transform: scale(150%);
}
.page-image-container:hover .img-arrow{
    margin-left: 67px;
}
/* ------------------------------------------------------------------------PAGE-MENU  */
.page-menu-container{
    padding-top: 5.625vw;
    height: 100%;
    grid-area: 1 / 11 / 1 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.social-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 6vw;
}
@media (max-width: 1500px) {
    .full-page{
        height: 800px;
        font-size: 75%;
    }    
}
@media (max-width: 1400px) {
    .full-page{
        height: 700px;
        font-size: 75%;
    }    
}

@media (max-width: 1200px) {
    .full-page{
        height: 600px;
        font-size: 80%;
    }    
}

@media (max-width: 700px) {
    .full-page{
        font-size: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .page-text-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .place-name-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        width: 100%;
    }
    .place-name-text{
        display: inline;
    }
    
    .page-number, .hr-page, .place-localion{
        display: none;
    }
    .place-name-text{
        margin-bottom: 0px;
    }
    .name{
        height: 50px;
    }
    .page-image-container{
        overflow: hidden;
        background-color: white;
        position: relative;
        height: 500px;
        display: flex;
        align-items: flex-end;
    }
    .page-menu-container{
        display: none;
    }
}